@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');


.main {
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.header {
    display: grid;
    grid-template-columns: 1000px 100px 105px 100px;
    grid-template-rows: 160px;
    grid-auto-flow: row;
    gap: 5px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.play-zen-logo img {
    width: 15%;
    margin: 10px;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
}

.game-container {
    border: solid 1px white;
    margin: 10px;  
    border-radius: 10px;
    border-color: rgb(235, 235, 235);
    width: 23%;
    box-sizing: border-box;
    padding:  10px;
    text-align: center;
}

.game-image img {
    width: 90%;
    margin: 14px;
    border-radius: 10px;
}

.game-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.game-platform img {
     width: 30%;
}

.more-info-button {
    width: 50%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(243, 243, 243);
    cursor: pointer;
}

.copyright {
    color: #86898f;
    text-align: center;
    margin-top: 50px;
}

.main-title h1 {
    text-align:center;
    font-size: 40px;
}

.game-title {
    font-size:20px
}

.game-genre {
    font-size: 18px;
}

.game-container .game-platform .pc-logo {
    width: 30%;
}

.game-container .game-platform .console-logo {
    width: 27%;
}

.game-container .game-platform a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        display: block;
        text-align: center;
    }
    .game-container {
        width: 100%
    }
}

@media (max-width: 1024px){
    .header {
        display: block;
        text-align: center;
    }
    .game-container {
        width: 40%;
    }
}