@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 0 20px;
}

.nav {
    display: flex;
    gap: 30px;
}

.header a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.play-zen-logo img {
    width: 200px;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.game-container {
    width: 100%;
    border: solid 1px white;    
    border-radius: 10px;
    border-color: rgb(235, 235, 235);
    text-align: center;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.game-container:hover{
    background: rgb(216, 216, 216);
    transform: scale(1.03);
    
}

.game__image img {     
    height: 100%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin: 20px;
}

.game__title {
    margin-bottom: 20px;
    font-weight: bold;
}

.game__platform {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    gap: 20px;
}

.game__platform svg {
    width: 50px;
    height: 50px;
    transition: fill 0.3s ease-in-out;
}

.game__platform .desktop__platform:hover svg {
    fill: red
}

.game__platform .console__platform:hover svg {
    fill: red
}

.more-info-button {
    width: 50%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(243, 243, 243);
    cursor: pointer;
}

.copyright {
    color: #86898f;
    text-align: center;
}

.main-title h1 {
    text-align:center;
    font-size: 40px;
    margin: 10px;
}

.game__title {
    font-size:20px
}

.game__genre {
    font-size: 18px;
}

.game__platform .desktop-logo {
    width: 60px;
}

.game__platform .gamepad-logo {
    width: 60px;
}

.game-container .game__platform a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    
    .games-container {
        grid-template-columns: repeat(1, 1fr);  
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        flex-direction: row;
    }
    .games-container {
        grid-template-columns: repeat(2, 1fr);  
    }
}